.ItemCounter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.ItemCounterButton{
    border-radius: 5px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
   font-weight: 500; 
   display: flex;
   justify-content: center;
   align-items: center;
    font-size: smaller;
}